*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background: /*#c8d8e4*/#3F4756;
    height: 200vh;
}

h4 {
    color: rgb(65, 61, 61);
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    border-bottom: 1.5px solid white;
    background:/*rgb(24, 74, 167)*//*rgb(56, 56, 58)*/ #252C58;
    background-repeat: no-repeat;
    font-family: 'Poppins', sans-serif;
}

.logo {
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-left: -40px;
    font-size: 20px;
    font-family: 'Comforter,cursive';
}

.logo h4 {
  color: white;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 30%;
    margin-right: -7%;

}


.nav-links li {
    list-style: none;
}

.nav-links a {
    color: white;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: 550;
    font-size: 14px;
}

.login-button {
    /*background: linear-gradient(-45deg, #3f00b5, #9f69fe, #27c8b7, #3f00b5);
    background-size: 400% 400%;*/
    background: /*rgb(24, 74, 167)*//*rgb(56, 56, 58)*/#252C58 ;
    padding: 1em 2em;
    display: inline-block;
    margin-right: -7.5%;
    border:1px solid;
    border-color: white;
    border-radius: 10px;
    font-size: 12px;
    font-weight: 700;
    /*transition: all .5s ease-in-out;
    animation: gradient 10s infinite cubic-bezier(.62, .28, .23, .99) both;*/
   }
   
   .login-button:hover {
    /*animation: gradient 3s infinite;*/
    transform: scale(1.05);
    transition: 0.5s;
   }
   
   .login-button:active {
    /*animation: gradient 3s infinite;*/
    transform: scale(0.8);
   }
   
   .login-button a {
       text-decoration: none;
       color: white;
   }

   /*@keyframes gradient {
    0% {
     background-position: 0% 50%;
    }
   
    50% {
     background-position: 100% 50%;
    }
   
    100% {
     background-position: 0% 50%;
    }
   }*/

   /* Sign Up button */
   .signup-button {
    /*background: linear-gradient(-45deg, #3f00b5, #9f69fe, #27c8b7, #3f00b5);
    background-size: 400% 400%;*/
    background: /*rgb(24, 74, 167)*//*rgb(56, 56, 58)*/#252C58;
    padding: 1em 2em;
    display: inline-block;
    margin-right: -50px;
    border:1px solid;
    border-color: white;
    border-radius: 10px;
    font-size: 12px;
    font-weight: 700;
    /*transition: all .5s ease-in-out;
    animation: gradient 10s infinite cubic-bezier(.62, .28, .23, .99) both;*/
   }
   
   .signup-button:hover {
    /*animation: gradient 3s infinite;*/
    transform: scale(1.05);
    transition: 0.5s;
   }
   
   .signup-button:active {
    /*animation: gradient 3s infinite;*/
    transform: scale(0.8);
   }
   
   .signup-button a {
       text-decoration: none;
       color: white;
   }

   @keyframes gradient {
    0% {
     background-position: 0% 50%;
    }
   
    50% {
     background-position: 100% 50%;
    }
   
    100% {
     background-position: 0% 50%;
    }
   }

.logout-button {
    background: /*rgb(24, 74, 167)*//*rgb(56, 56, 58)*/#252C58 ;
    padding: 1em 2em;
    display: inline-block;
    margin-right: -50px;
    border:1px solid;
    border-color: white;
    border-radius: 10px;
    font-size: 12px;
    font-weight: 700;
       
}

.logout-button a {
    text-decoration: none;
    color: white;
}   

.user-info {
    display: flex;
    justify-content: space-between;
}

.user-name {
    color: white;
    margin-top: 8px;
    margin-right: 10px;
    font-size: 20px;
    font-family: 'Allura', cursive;
}

/* Dropdown menu */

.dropdown-menu {
    margin-left: -50px;
}

.menu {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    padding: 0;
  }
  .line {
    fill: none;
    stroke: white;
    stroke-width: 6;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
      stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .line1 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
  }
  .line2 {
    stroke-dasharray: 60 60;
    stroke-width: 6;
  }
  .line3 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
  }
  .opened .line1 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
  }
  .opened .line2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
    stroke-width: 6;
  }
  .opened .line3 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
  }

  
.dropdown-menu  ul {
  position: absolute;
  background: white;
  margin-top: 30px;
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  list-style: none;
  border: 2.5px solid;
  border-color: black;
  border-radius: 5px;
  opacity: 0;
  pointer-events: none;
  transform: translateY(10px);
  transition: all 0.4s;
}

.dropdown-menu a,
.dropdown-menu a {
  color: black;
  text-decoration: none;
}

.dropdown-menu li,
.dropdown-menu li {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown-menu button:focus + ul,
.dropdown-menu button:focus + ul {
  opacity: 1;
  pointer-events: all;
  transform:  translateY(0px);
  z-index: 2;
}

button[aria-expanded="false"]:focus + ul {
  opacity: 0;
  pointer-events:all
}

/* Search box */

.search-box {
  margin-left: -40px;
  height: 30px;
  width: 250px;
  border: 2px solid;
  border-color: white;
  border-radius: 100px;
  padding-left: 10px;

}