@import url("https://fonts.googleapis.com/css2?family=Istok+Web:wght@400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@300&display=swap');

body {
  justify-content: center;
  align-items: center;
  background: /*#c8d8e4*//*rgb(56, 56, 58)*/#252C58;
  height: 300vh !important;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  grid-column-gap: 70px;
  grid-row-gap: 7em;
  margin-left: 30px;
  margin-top: 70px;
}

.card {
  position: relative;
  width: 310px;
  height: 420px;
  background: /*rgb(24, 74, 167)*//*rgb(56, 56, 58)*/#252C58;
  border: 2.5px solid;
  border-color: white;
  border-radius: 10px;
  overflow: hidden;
}

.card::before {
  content:"";
  position: absolute;
  top: -50%;
  width: 100%;
  height: 100%;
  background: /*rgb(56, 56, 58)*/#252C58;
  transform: skewY(345deg);
  transition: 0.5s;
}

.card:hover::before {
  top: -70%;
  transform: skewY(390deg);
}

.card::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  font-weight: 600;
  font-size: 6em;
  color: #F9F871;
}

.card .imgBox {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  z-index: 1;
}
/*
.card .imgBox img {
    max-width: 100%;
    
    transition: .5s;
}

.card:hover .imgBox img {
    max-width: 50%;
      
}
*/
.card .contentBox {
  position: relative;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 2;
}

.card .contentBox h3 {
  font-size: 18px;
  color: white;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: 'Oswald', sans-serif;
}

.card .contentBox .price {
  font-size: 24px;
  font-family: 'IBM Plex Sans KR', sans-serif;
  color: white;
  font-weight: 700;
  letter-spacing: 1px;
}

.card .contentBox .info {
  position: relative;
  top: 100px;
  opacity: 0;
  padding: 10px 30px;
  margin-top: 15px;
  color: white;
  text-decoration: none;
  background: /*rgb(56, 56, 58)*/#252C58;
  border: 1.5px solid;
  border-color: white;
  border-radius: 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: 0.5s;
}

.card:hover .contentBox .info {
  top: 0;
  opacity: 1;
}

.image {
  height: 200px;
  width: auto;
}