@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

body {
    background-color: #252C58;
}

.image-div{
    justify-content: center;
    align-items: center;
}

.image {
    height: 350px;
    width: auto;
    margin-top: 10px;
    margin-left: 390px;
    justify-content: center;
}

.name {
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
    color:white;
    margin-top: 20px;
    text-align: center;
}

.price {
    font-family: 'IBM Plex Sans KR', sans-serif;
    font-size: 17px;
    color: white;
    text-align: center;
    margin-top: 10px;
}

.buy {
    background-color: #252C58;
    color: white;
    height: 45px;
    width: 150px;
    border: 2px solid;
    border-color: white;
    border-radius: 100px;
    margin-top: -5px;
    margin-left: 560px;
}

.login-required {
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    color: white;
    text-align: center;

}

.description {
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    color: white;
    text-align: center;
    margin-top: 20px;
}