body {
    overflow-x: hidden;
    background-color: #252C58;
}

.welcome {
    font-size: 100px;
    font-family: 'Bebas Neue', cursive;
    color: #252C58;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: /*#52ab98*/white;
    text-align: center;
    margin-top:10%;
    animation: backInDown;
    animation-duration: 2s;
}

p {
    font-family: 'Playfair Display', serif;
    text-align: center;
    font-size: 25px;
    color: /*#52ab98*/white;
    animation: backInLeft;
    animation-duration: 3s;
}

.built-with {
    height: 400px;
    background: /*#52ab98*/#252C58;
    margin-top: 100px;
}

.built-with h2 {
    font-size: 60px;
    font-family: 'Bebas Neue', cursive;
    color: #252C58;
    text-align: center;
    margin-top:50px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: /*#52ab98*/white;
    animation: backInUp;
    animation-duration: 2s;
}

.django {
    height: 180px;
    width: 180px;
    margin-left: 15%;
}

.html5 {
    height: 180px;
    width: 180px;
    margin-left: 15%;
}

.css3 {
    height: 195px;
    width: 180px;
    margin-left:15%;
}

img {
    align-items: center;
    animation: backInRight;
    animation-duration: 4s;
}

.arrow-around {
    display: grid;
    height: 30px;
    width: 30px;
    border: 1px solid white;
    border-radius: 100%;
    margin-top: -8%;
    margin-left: 95%;
    animation: backInRight;
    animation-duration: 5s;
}

.arrow {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-top: 2px solid white;
    border-right: 2px solid white;
    margin-top: 9px;
    margin-left: 7px;
}

.arrow-right {
    transform: rotate(45deg);
}  
