{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  <link rel="stylesheet" href="{% static 'css/home.css' %}">
  <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Comforter&display=swap" rel="stylesheet">
  

  {% block title %}<title>Navbar</title>{% endblock title %}
</head>
<body>
  <nav>
    <div class="dropdown-menu">
      <button class="menu" onclick="this.classList.toggle('opened');this.setAttribute('aria-expanded', this.classList.contains('opened'))" aria-label="Main Menu">
        <svg width="50" height="40" viewBox="0 0 100 100">
          <path class="line line1" d="M 20,29.000046 H 80.000231 C 80.000231,29.000046 94.498839,28.817352 94.532987,66.711331 94.543142,77.980673 90.966081,81.670246 85.259173,81.668997 79.552261,81.667751 75.000211,74.999942 75.000211,74.999942 L 25.000021,25.000058" />
          <path class="line line2" d="M 20,50 H 80" />
          <path class="line line3" d="M 20,70.999954 H 80.000231 C 80.000231,70.999954 94.498839,71.182648 94.532987,33.288669 94.543142,22.019327 90.966081,18.329754 85.259173,18.331003 79.552261,18.332249 75.000211,25.000058 75.000211,25.000058 L 25.000021,74.999942" />
        </svg>
      </button>
      <ul>
        <li><a href="#">Laptops</a></li>
        <li><a href="#">Smartphones</a></li>
        <li><a href="#">TVs</a></li>
      </ul>
    </div>
    <div class="logo">
      <h4>FJ Store</h4>
    </div>
    <form class="search-form" action="{% url 'search_results' %}" method="GET">
      <input name="q" type="text" class="search-box" placeholder="Search">
        <!--<img src="magnifying glass.png" class="submit-image">-->
      </button>
    </form>  
    <ul class="nav-links">
      <li><a href="{% url 'home' %}">Home</a></li>
      <li><a href="">Contacts</a></li>
      <li><a href="#">About</a></li>
    </ul>
    {% if user.is_authenticated %}
    <div class="user-info">
      <p class="user-name">{{ user.username }}</p>
      <button class="logout-button"><a href="{% url 'account_logout' %}">Log Out</a></button>
    </div>
    {% else %}
    <button class="login-button"><a href="{% url 'account_login' %}">Log In</a></button>
    <button class="signup-button"><a href="{% url 'account_signup' %}">Sign Up</a></button>
    {% endif %}
  </nav>
  <div class="container">
  {% block content %}
  {% endblock content %}
  </div>
</body>
</html>