{% extends '_base.html' %}

{% load static %}

{% block title %}<title>Store</title>{% endblock title %}

{% block content %}
<div class="wrapper">
{% for product in product_list %}
  <div class="card">

    <div class="imgBox">
      <img src="{{product.image.url}}" class="image">
    </div>

    <div class="contentBox">
      <h3>{{product.name}}</h3>
      <h2 class="price">{{product.price}}€</h2>
      <a href="{{ product.get_absolute_url }}" class="info">Info</a>
    </div>

  </div>
  {% endfor %}
</div>
{% endblock content %}