{% extends '_base.html' %}

{% block title %}<title>Search</title>{% endblock title %}

{% block content %}
<h1>Search Results</h1>
<style>
  h1 {
    color: white;
    text-align: center;
    margin-top: 10px;
  }
</style>

<div class="wrapper">
    {% for product in product_list %}
      <div class="card">
    
        <div class="imgBox">
          <img src="{{product.image.url}}" class="image">
        </div>
    
        <div class="contentBox">
          <h3>{{product.name}}</h3>
          <h2 class="price">{{product.price}}€</h2>
          <a href="{{ product.get_absolute_url }}" class="info">Info</a>
        </div>
    
      </div>
    {% endfor %}
    </div>
{% endblock content %}