{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/Welcome.css' %}">
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=League+Gothic&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Sansita+Swashed&display=swap" rel="stylesheet">
    {% block title %}<title>Welcome</title>{% endblock title %}
  </head>
  {% block content %}
  <body>
    <h1 class="welcome">Welcome to<br>FJ Store</h1>
    <p>In our store you can buy laptops,smartphones and TVs.<br>
      We will be happy to provide more products in near future<br>
      to help you keep up with the world of newest technologies.<br>
    </p>
    <a href="{% url 'home' %}">
      <div class="arrow-around">
          <span class="arrow arrow-right"></span>
      </div>
    </a>
    <div class="built-with">
      <h2>This project built with</h2>
      <img src="{% static 'images/Django.jpg' %}" class="django">
      <img src="{% static 'images/HTML5.png'%}" class="html5">
      <img src="{% static 'images/CSS3.png.png'%}" class="css3">
    </div>
  </body>
  {% endblock content %}
</html>